@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
}
#overlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
}
video#bgvid { 
    position: fixed; 
    right: 0; 
    top: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}

label { position: absolute; top:0; left:0}

input#show, input#hide {
    display:none;
}

span#content {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 0;
    overflow: hidden;
}

input#show:checked ~ .show:before {
    content: ""
}
input#show:checked ~ .hide:before {
    content: "Not Hecked"
}

input#hide:checked ~ .hide:before {
    content: ""
}
input#hide:checked ~ .show:before {
    content: "Hecked"
}
input#show:checked ~ span#content {
    opacity: 1;
    font-size: 100%;
    height: auto;
    color: #ee00ff;
}
input#hide:checked ~ span#content {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 0;
    overflow: hidden;
}
